<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #141e30, #243b55);
    }
</style>

<div class="login-page">
    <div class="form">
        <div>
            <h2 class="title" style="color: #141e30;">Admin Login</h2>
        </div>
        <form class="login-form" action="/admin/login" method="post">
            <input type="email" placeholder="Enter email" name="email" />
            <input type="password" placeholder="Enter password" name="password" />
            <button type="submit" style="background: linear-gradient(90deg, #141e30, #243b55);">Login</button>
        </form>
    </div>
</div>