<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #bdc3c7, #2c3e50);
    }
</style>

<div class="login-page" style="width: 80vw">
    <div class="form">
        <h2 class="title" style="color: #2c3e50;"> Hotels List</h2>
        <table id="main_table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Place</th>
                    <th>Minimum Price</th>
                    <th>operations</th>
                </tr>
            </thead>
            <tbody>
                {{#each hotels}}
                <tr>
                    <td>{{hotelName}}</td>
                    <td>{{email}}</td>
                    <td>{{place}}</td>
                    <td>₹{{minPrice}}</td>
                    <td><button class="btn" style="background: red;">delete</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(function () {
        $("#main_table").dataTable();
    });
</script>