<nav class="navbar navbar-expand-lg navbar-dark"
    style="background: linear-gradient(to right,#667db6, #0082c8,#667db6);">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" style="font-size: 33px;">Welcome {{student.username}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#about">About Us</a>
                </li>
            </ul>
            <div class="d-flex">
                <a href="/login"><button class="btn btn-outline-light border-0">Login as student</button></a>
                <a href="http://localhost:3000/signup"><button class="btn btn-outline-light border-0">Login as Job
                        seeker</button></a>
                {{!-- <a href="/tourist/login"><button class="btn btn-outline-light border-0">Login as Tourist</button></a> --}}
                <a href="/admin/login"><button class="btn btn-outline-light border-0">Login as admin</button></a>
                {{!-- <a href=""><button class="btn btn-outline-light border-0">Login as Placementcell</button></a> --}}
                <a href="http://localhost:8000/teacher/teacherclick"><button class="btn btn-outline-light border-0">Login as Teachers</button></a>


            </div>
        </div>
    </div>
</nav>

{{!-- carousel --}}

<div class="p-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"
        style="max-width: 100vw;max-height:85vh;overflow:hidden">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="object-fit: cover;width:100%;height:100%">
                <img src="https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item" style="object-fit: cover;width:100%;height:100%">
                <img src="https://images.pexels.com/photos/256417/pexels-photo-256417.jpeg" class="d-block w-100" alt="">
            </div>
            <div class="carousel-item" style="object-fit: cover;width:100%;height:100%">
                <img src="https://images.pexels.com/photos/1438081/pexels-photo-1438081.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

{{!-- about us --}}

<section id="about">
    <div class="container d-flex flex-column justify-content-space-around" style="height: 70vh;">
        <h2 class="title mt-5 mb-5" style="text-align: center;">
            About 
        </h2>
        <p class="about-para">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi facere dolore suscipit, voluptas quas culpa
            iusto nemo ratione similique doloremque omnis voluptatibus aut. Animi alias, tempora autem recusandae
            praesentium a magni! Consequatur cum minus omnis illum, eligendi rem excepturi modi optio quos unde corporis
            aut obcaecati tempore repellat vitae aliquid ipsam dolores laudantium id saepe? Dignissimos minus ipsam eum,
            ducimus voluptas consequatur quidem voluptate modi laboriosam accusantium deleniti omnis, facere voluptatem
            incidunt sed vero minima magnam repellat tempora a aliquid quo. Doloremque nostrum est magni quas provident
            iure velit sint repellendus sit veritatis temporibus consequuntur facilis mollitia, nobis laborum? Omnis?
        </p>
    </div>
</section>
<section id="map" style="background: linear-gradient(to right,#667db6, #0082c8,#667db6);">
    <div class="container d-flex flex-column justify-content-space-around" style="height: 100vh;">
        <h2 class="title mt-5 mb-5" style="text-align: center;">
            Find Our City
        </h2>

        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d502964.51011673885!2d76.02072684606838!3d9.98293140660332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080d514abec6bf%3A0xbd582caa5844192!2sKochi%2C%20Kerala!5e0!3m2!1sen!2sin!4v1650826551429!5m2!1sen!2sin"
            width="600" height="450" style="border:0;margin-left:20vw" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
</section>

<footer class="bg-dark text-light d-flex flex-column justify-content-space-around" style="height: 30vh;">
    {{!-- <h2 class="title mt-5 mb-5" style="text-align: center;">
       Emergency Contacts
     </h2>
     <a href="tel:+91 100" class="btn btn-danger">Alert Police</a>
     <a href="tel:+91 101" class="btn btn-warning">Alert Fire Station</a>
      <a href="tel:+91 102" class="btn btn-info">Ambulance</a>
    <div class="icon-group d-flex justify-content-center">
        <style>
            i {
                font-size: 30px;
            }
        </style>
        <i class="fa-brands fa-twitter me-3"></i>
        <i class="fa-brands fa-facebook me-3"></i>
        <i class="fa-brands fa-instagram"></i>
    </div> --}}
</footer>