<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #F2994A, #F2C94C);
    }
</style>

<div class="login-page">
    <div class="form">
        <div>
            <h2 class="title" style="color: #F2994A;">Tourist Login</h2>
        </div>
        <form class="login-form" action="/tourist/login" method="post">
            <input type="email" placeholder="Enter email" name="email" />
            <input type="password" placeholder="Enter password" name="password" />
            <button type="submit" style="background: linear-gradient(90deg, #F2994A, #F2C94C);">Login</button>
            <p class="text-secondary mt-3">New User ? <a href="/tourist/signup" class="font-weight-bold"
                    style="text-decoration: none;">Signup here</a></p>
        </form>
    </div>
</div>