<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #F2994A, #F2C94C);
    }
</style>

<div class="login-page">
    <div class="form">
        <div>
            {{#if alert}}
            <h2 class="title" style="color: #F2994A;">{{alert}}</h2>
            {{else}}
             <h2 class="title" style="color: #F2994A;">Forgot Password</h2>
            {{/if}}
        </div>
        <form class="login-form" action="/job-seeker/forGotPassword" method="post">
            <input type="email" placeholder="Enter email" name="email" />
            <input type="password" placeholder="Enter password" name="password" />
            <input type="password" placeholder="confirm  password" name="confirmPassword" />
            <button type="submit" style="background: linear-gradient(90deg, #F2994A, #F2C94C);">update</button>
        </form>
    </div>
</div>