<link rel='stylesheet' href='/stylesheets/user.css' />
<style>
    body {
        background: linear-gradient(90deg, #0cebeb, #20e3b2, #29ffc6);
    }
</style>

<div class="login-page">
    <div class="form">
        <div>
            <h2 class="title" style="color: #3ba188;">Register</h2>
        </div>
        <form class="login-form" action="/job-seeker/signup" method="post">
            <input type="text" name="username" placeholder="Username" required />
            <input type="password" name="password" placeholder="Password" required />
            <input type="email" name="email" placeholder="Email Id" required />
            <input type="number" name="phone" placeholder="Phone No" required />

            <button type="submit" style="background: #3ba188;">Register</button>
            <p class="text-secondary mt-3">Already have account <a href="/job-seeker/login" class="font-weight-bold"
                    style="text-decoration: none;">Login</a></p>
        </form>
    </div>
</div>